* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: Black;
  opacity: .9;
  text-align: center;
}

.header {
  display: flex;
  /*background-color: Black;*/
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid Seashell;
  justify-content: space-between;
  align-items: center;
  margin-top: -8px;
}

.logo {
  display: flex;
  padding-left: 10px;
}

.top-nav {
  display: flex;
  padding-right: 20px;
  text-align: right;
  width: 350px;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
}

#mission {
  display: flex;
  flex-direction: column;
  margin-top: 61px;
  padding-top: 61px;
  background-image: url('../images/img-mission-background.jpg');
  height: 700px;
  width: 1200px;
  /*background-color: Black;*/
  align-content: center;
  color: Seashell;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#mission span {
  width: 100%;
  margin-top: 8px;
}

#mission span h2 {
  font-size: 36px;
  margin: 10px;
}

#mission span h4 {
  font-size: 22px;
  margin: 10px;
}

#teas {
 padding-top: 70px;
 padding-bottom: 70px;
}

#teas h1 {
  font-size: 30px;
}

#teas h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.tom-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.teas-img {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.teas-img img {
  margin: 10px;
}

#locations {
  background-image: url('../images/img-locations-background.jpg');
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.location-blocks {
  display: flex;
  background-color: None;
  justify-content: center;
  height: 300px;
  opacity: 1;
  background: None;
  align-content: center;
  align-items: center;
  padding-top: 15px;
}

.ind-loc {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  opacity: 1;
  align-content: center;
  color: Seashell;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 20px;
}

.ind-loc h2 {
  font-size: 28px;
}

.ind-loc h3 {
  font-size: 22px;
  font-weight: normal;
}

.contact {
  height: 200px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

.contact h1 {
  font-size: 36px;
}

.contact h2 {
  font-size: 18px;
}

.footer {
  font-size: 18px;
}

.footer h5 {
  padding-left: 20px;
  text-align: left;
}
